.Profile .Dashboard__heading__row {
  margin-bottom: calc(var(--q) * 4);
}

.Profile .infoTag {
	width: fit-content;
}

.Profile .infoTag__warning {
	background-color: rgb(255, 227, 227);
}

.Profile .infoTag__warning p {
	color: red;
}

.Profile .infoTag__paid p {
	color: green;
}

.Profile .infoTag__paid {
	background-color: rgb(227, 255, 227);
}


.Profile__subheading {
  color : var(--Black_6); 
}
.Profile__image{
  width: 86px;
  height: 86px;
  border: 1px solid rgb(172, 172, 172);
  border-radius: 50%;
}

.infoCardContainer {
  height : 72px; 
  min-width : 300px; 
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.personalDetailsBox {
  box-shadow: var(--shadow-12); 
}