.feedbackCollectionRow {
  overflow-y : hidden; 
  overflow-x : auto; 
}

.feedbackCollectionRow::-webkit-scrollbar {
  width : 0; 
}

.FeedbackCardContainer {
  width : 286px; 
  background-color : #e7e7e7; 
  flex-shrink : 0; 
  border-bottom : 3px solid transparent; 
  transition: all 0.2s;
}

.FeedbackCardContainer:hover {
  border-bottom : 3px solid black; 
}