.mailContextButton {
  border: 1px solid lightgray;
  width : 142px; 
}

.mailContainerRow {
  max-height : 560px; 
  overflow : auto; 
  margin-bottom: 80px;
}

.mailEntry {
  flex : 1; 
  height : 48px; 
  background-color: #e7e7e7;
  border-radius: 8px;
  cursor : pointer; 
}

.mailCreateButton {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.overlay {
  position : absolute; 
  width: 100%;
  height : 100%; 
  top : 0; 
  left : 0; 
  background-color: rgba(0, 0, 0, 0.223);
}


.MailEntryContainer {
  width : 80%; 
  height : 80%; 
  border-radius : 32px; 
  background-color: white;
  flex-direction: column  ;
}

.senderInputRow {
  width : 100%; 
  height : calc(var(--q) * 9); 
  border-bottom : 1px solid black; 

}

.sendChip {
  height : 32px; 
  border-radius : 20px; 
  background-color: #000;
}

.senderInput {
  flex : 1; 
  padding-right : calc(var(--q) * 3); 
  height : 44px; 
  border : none; 
}

.senderInput:focus {
  border : none; 
  outline : none; 
}

.SubjectTag {
  height : 48px; 
  width : 128px; 
  border-top-right-radius: 200px;
  border-bottom-right-radius: 200px;
  background-color: white ;
  border : 1px solid rgb(220, 220, 220); 
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  justify-content: flex-end;
}

.mailContent {
  flex : 1; 
}

.mail__textArea {
  width : 100%; 
  border : none; 
  font-size : 16px; 
  font-family : 'Inter'; 
  line-height : 1.6; 
  height : 100%; 
  flex : 1; 
}

.mail__textArea:focus {
  border : none; 
  outline : none; 
}