.studentListRow {
  width : 600px; 
  max-height : 700px; 
  overflow : auto; 
}

.profileImageBox {
  height : 48px; 
  width : 48px; 
  border-radius : 28px; 
  border : 1px solid gray; 
}

.studentProfileListContainer {
  margin : 12px 32px; 
}