@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  font-family : 'Inter'; 
}

body {
	background-color: #fff ;
}

.Dashboard {
  width : 100%; 
  height : 100vh; 
  display : flex; 
}

.Dashboard__sideBoard {
  width: 280px;
	height: 100%;
	border-right: 1px solid lightgray;
}

.Dashboard__content {
	flex: 1;
	padding-top: calc(var(--q) * 12);
	padding-left: calc(var(--q) * 12);
	padding-right: calc(var(--q) * 12);
	height : 100%; 
	overflow: auto;
	position : relative; 
	background-color: var(--white_1);
}

.Dashboard__heading__row {
  margin-bottom : calc(var(--q) *10); 
}

.Dashboard__content__overlay {
	position : absolute; 
	top : 0; 
	left : 0; 
	width : 100%; 
	height: 100%;
	background-color: rgba(0, 0, 0, 0.136);
}

.FeedbackCard {
	width : 330px; 
	min-height : 216px; 
	border-radius: 16px;
	border : 1px solid lightgray; 
	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.star {
	width : 27px; 
	height : 27px; 
	fill : #ffdf00; 
}