.notificationWrapper {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  width : 480px; 
}

.notificationContainer {
  height : 200px; 
  max-height : 300px; 
  overflow : auto; 
}

.notificationContainer::-webkit-scrollbar {
  width : auto; 
}

.NotificationList .titleBox {
  border-right : 1.5px solid black; 
}